<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

    <listeners>
        <listener class-name="com.testng.listener.ExtentReporterNG" />
    </listeners>


    <test name="Reports">
        <classes>
            <class name="com.test.testng.GoogleTest"></class>
            <class name="com.test.testng.FacebookLoginTestNgNegativeTest"></class>


        </classes>
    </test>
</suite>